<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Apartment WebSite</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Font css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,900"/>
    <link type="text/css" rel="stylesheet" href="../../font/font-icon/font-awesome-4.4.0/css/font-awesome.css" th:href="@{/font/font-icon/font-awesome-4.4.0/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" href="../../font/font-icon/font-svg/style.css" th:href="@{/font/font-icon/font-svg/style.css}"/>
    <!-- Library css-->
    <link type="text/css" rel="stylesheet" href="../../libs/bootstrap-3.3.6/css/bootstrap.min.css" th:href="@{/libs/bootstrap-3.3.6/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../libs/animate/animate.css" th:href="@{/libs/animate/animate.css}"/>
    <link type="text/css" rel="stylesheet" href="../../libs/owl-carousel-2.0/assets/owl.carousel.css" th:href="@{/libs/owl-carousel-2.0/assets/owl.carousel.css}"/>
    <link type="text/css" rel="stylesheet" href="../../libs/selectbox/css/jquery.selectbox.css" th:href="@{/libs/selectbox/css/jquery.selectbox.css}"/>
    <link type="text/css" rel="stylesheet" href="../../libs/range-slider/jquery.nstSlider.min.css" th:href="@{/libs/range-slider/jquery.nstSlider.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../libs/datetimepicker/css/bootstrap-datetimepicker.css" th:href="@{/libs/datetimepicker/css/bootstrap-datetimepicker.css}"/>
    <link type="text/css" rel="stylesheet" href="../../libs/fancybox/css/jquery.fancybox.css" th:href="@{/libs/fancybox/css/jquery.fancybox.css}"/>
    <link type="text/css" rel="stylesheet" href="../../libs/fancybox/css/jquery.fancybox-buttons.css" th:href="@{/libs/fancybox/css/jquery.fancybox-buttons.css}"/>
    <link type="text/css" rel="stylesheet" href="../../libs/slick/slick.css" th:href="@{/libs/slick/slick.css}"/>
    <link type="text/css" rel="stylesheet" href="../../libs/slick/slick-theme.css" th:href="@{/libs/slick/slick-theme.css}"/>
    <link type="text/css" rel="stylesheet" href="../../libs/select2/select2.min.css" th:href="@{/libs/select2/select2.min.css}"/>
    <!-- style css-->
    <link type="text/css" rel="stylesheet" href="../../css/layout.css" th:href="@{/css/layout.css}"/>
    <link type="text/css" rel="stylesheet" href="../../css/components.css" th:href="@{/css/components.css}"/>
    <link type="text/css" rel="stylesheet" href="../../css/responsive.css" th:href="@{/css/responsive.css}"/>

    <!-- LOADING SCRIPTS FOR PAGE-->
</head>
<body><!-- HEADER-->
<header>
    <div class="bg-transparent">
        <div class="header-topbar">
            <div class="container">
                <ul class="topbar-left list-unstyled pull-left">
                    <li><a href="javascript:void(0)" class="language"><i class="topbar-icon fa fa-globe"></i><span th:text="#{header.navbar.top.language}"></span><i class="topbar-icon icons-dropdown fa fa-angle-down"></i></a>
                        <ul class="dropdown-language list-unstyled hide">
                            <li><a href="?lang=en">English</a></li>
                            <li><a href="?lang=hr">Hrvatski</a></li>
                            <li><a href="?lang=de">Deutsch</a></li>
                        </ul>
                    </li>
                    <li><a href="contact" class="hotline"><i class="topbar-icon fa fa-phone"></i><span th:text="#{header.navbar.top.phone.number}"></span></a></li>
                    <li><a href="contact" class="email"><i class="topbar-icon fa fa-map-marker"></i><span th:text="#{header.navbar.top.contact.mail}"></span></a></li>
                </ul>
                <!--<div class="topbar-right pull-right">
                    <div class="socials"><a href="#" class="link facebook"><i class="fa fa-facebook-square"></i></a><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a><a href="#" class="link pinterest"><i class="fa fa-pinterest"></i></a><a href="#" class="link blog"><i class="fa fa-rss"></i></a><a href="#" class="link instagram"><i class="fa fa-instagram"></i></a><a href="#" class="link dribbble"><i class="fa fa-dribbble"></i></a></div>
                </div>-->
            </div>
        </div>
        <div class="header-main header-style2">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="navbar-header">
                        <!--<div class="logo logo-black"><a href="index.html" class="header-logo"><img src="../../images/logo-1.png" alt=""/></a></div>-->
                        <div class="logo logo-white"><!--<a href="index.html" class="header-logo">--><img src="../../images/logo-2.png" alt=""/></div>
                        <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <nav class="navigation collapse navbar-collapse">
                        <ul class="nav-links nav navbar-nav">

                            <li><a href="/home" class="main-menu" th:text="#{header.navbar.tab1}"></a></li>

                            <li><a href="/properties" class="main-menu" th:text="#{header.navbar.tab2.property}"></a></li>

                            <li><a href="/blog" class="main-menu" th:text="#{header.navbar.tab3.blog}"></a></li>

                            <li class="dropdown"><a href="javascript:void(0)" class="main-menu"><span th:text="#{header.navbar.tab4.page}"></span><span class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu dropdown-menu-1">
                                    <li><a href="/gallery" class="link-page" th:text="#{header.navbar.tab4.1.gallery}"></a></li>
                                    <li><a href="/about-us" class="link-page" th:text="#{header.navbar.tab4.2.about.us}"></a></li>
                                </ul>
                            </li>
                            <li><a href="/contact" class="main-menu" th:text="#{header.navbar.tab5.contact}"></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- WRAPPER-->
<div id="wrapper-content"><!-- PAGE WRAPPER-->
    <div id="page-wrapper"><!-- MAIN CONTENT-->
        <div class="main-content"><!-- CONTENT-->
            <div class="content">
                <div class="section">
                    <div class="banner-03 bg-overlay banner-full-screen-2">
                        <div class="banner-03-wrapper">
                            <div class="container">
                                <div class="wrapper-title"><h2 class="title" th:text="#{homepage.title}"></h2><h4 class="sub-title" th:text="#{homepage.title.text}"></h4></div>
                                <!--<div class="content"><p class="text" th:text="#{homepage.title.text.more}"></p></div>-->
                                <div class="group-button"><a href="/contact" class="btn btn-blue" th:text="#{homepage.button1.schedule.visit}"></a><a href="/properties" class="btn btn-transparent white" th:text="#{homepage.button2.view.more}"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section scroll-to">
                    <div class="about-house-section padding-top padding-bottom">
                        <div class="container">
                            <div class="about-house-wrapper">
                                <div class="about-house-image"><img src="../../picture/basic/house.jpg" alt="" class="img-responsive"/></div>
                                <div class="about-house-content" style="text-align: justify;"><h2 class="title" th:text="#{homepage.section1.title}"></h2>

                                    <p class="text" th:text="#{homepage.section1.text1}"></p>

                                    <p class="text" th:text="#{homepage.section1.text2}"></p>

                                    <p class="text" th:text="#{homepage.section1.text3}"></p>

                                    <p class="text" th:text="#{homepage.section1.text4}"></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section section-zindex">
                    <div class="banner-sale-off">
                        <div class="banner-sale-off-background">
                            <div class="background-gray"></div>
                            <div class="background-glass"><img src="../../picture/background-glass.png" alt="" class="img-responsive"/></div>
                            <div data-wow-delay="0.25s" data-wow-duration="0.8s" class="background-house wow fadeInUp"><img src="../../picture/basic/house-mini.jpg" style="padding-bottom: 28px; border-top-left-radius: 100px; border-top-right-radius: 100px;" alt="" class="img-responsive"/></div>
                        </div>
                        <div class="container">
                            <div data-parallax="{&quot;y&quot;:&quot;20%&quot;}" class="banner-sale-off-wrapper">
                                <div class="name-house" style="color: #2AACFF"><h2 class="title" style="color: #2AACFF" th:text="#{homepage.banner1.title}">House Ciceran - Medulin</h2>

                                    <p class="description" th:text="#{homepage.banner1.description}">Modern, innovation, beautiful</p></div>
                                <div class="price-house">
                                    <div class="price-for-house">
                                        <div class="price" style="text-align: left;"><sup>€</sup><span class="amount"  th:text="#{homepage.banner1.price}">369</span>,<span class="small amount" th:text="#{homepage.banner1.price.decimal}"></span></div>
                                        <div class="sub-price" th:text="#{homepage.banner1.duration}">Per month</div>
                                    </div>
                                    <a href="properties" class="btn btn-transparent white" th:text="#{homepage.banner1.button}">See all</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="newest-properties padding-top padding-bottom">
                        <div class="container">
                            <div class="newest-properties-wrapper">
                                <div class="sunhouse-title">
                                    <div class="icon-image"><img src="../../images/logo-title-1.png" alt="" class="img-responsive"/><!--.icon-title--><!--    i.icon-church--></div>
                                    <h2 class="main-title" th:text="#{homepage.section2.title}"></h2>

                                    <p class="sub-title" th:text="#{homepage.section2.subtitle}"></p></div>
                                <div class="row">
                                    <div class="newest-properties-content">
                                        <div class="col-md-4 col-xs-6">
                                            <div class="sunhouse-item"><a href="/property-detail-1" class="wrapper-image"><img src="../../picture/room1/bedroom1.jpg" alt="" class="img-responsive layout-1"/><img src="../../picture/room1/garden1.jpg" alt="" class="img-responsive layout-2"/></a>

                                                <div class="note for-rent"><p class="text" th:text="#{homepage.section2.for.rent}"></p></div>
                                                <div class="wrapper-content">
                                                    <div class="info-house">
                                                        <div class="info"><i class="icon-bed"></i>

                                                            <p th:text="#{homepage.section2.room1.number.of.bedrooms}"></p></div>
                                                        <div class="info"><i class="icon-bed"></i>

                                                            <p th:text="#{homepage.section2.room1.number.of.bed}"></p></div>
                                                        <div class="info"><i class="icon-bath"></i>

                                                            <p th:text="#{homepage.section2.room1.number.of.bathrooms}"></p></div>
                                                    </div>
                                                    <div class="about-house"><a href="/property-detail-1" class="title" th:text="#{homepage.section2.room1.title}"></a>

                                                        <!--<p class="text" th:text="#{homepage.section2.room1.subtitle}"></p>--></div>
                                                    <div class="more-info-house">
                                                        <div class="place-house"><i class="fa fa-map-marker"></i><a href="/property-detail-1" th:text="#{homepage.section2.room1.location}">120 2nd Ave, New handiee</a></div>
                                                        <div class="price"><strong th:text="#{homepage.section2.room1.price.min}"></strong>&euro; - <strong th:text="#{homepage.section2.room1.price.max}"></strong>&euro; <span>/</span><span th:text="#{homepage.section2.room1.duration}"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <div class="sunhouse-item"><a href="/property-detail-2" class="wrapper-image"><img src="../../picture/room2/bedroom.jpg" alt="" class="img-responsive layout-1"/><img src="../../picture/room2/garden.jpg" alt="" class="img-responsive layout-2"/></a>

                                                <div class="note for-rent"><p class="text" th:text="#{homepage.section2.for.rent}"></p></div>
                                                <div class="wrapper-content">
                                                    <div class="info-house">
                                                        <div class="info"><i class="icon-bed"></i>

                                                            <p th:text="#{homepage.section2.room2.number.of.bedrooms}"></p></div>
                                                        <div class="info"><i class="icon-bed"></i>

                                                            <p th:text="#{homepage.section2.room2.number.of.bed}"></p></div>
                                                        <div class="info"><i class="icon-bath"></i>

                                                            <p th:text="#{homepage.section2.room2.number.of.bathrooms}"></p></div>
                                                    </div>
                                                    <div class="about-house"><a href="/property-detail-2" class="title" th:text="#{homepage.section2.room2.title}"></a>

                                                        <!--<p class="text" th:text="#{homepage.section2.room2.subtitle}"></p>--></div>
                                                    <div class="more-info-house">
                                                        <div class="place-house"><i class="fa fa-map-marker"></i><a href="/property-detail-2" th:text="#{homepage.section2.room2.location}">120 2nd Ave, New handiee</a></div>
                                                        <div class="price"><strong th:text="#{homepage.section2.room2.price.min}"></strong>&euro; - <strong th:text="#{homepage.section2.room2.price.max}"></strong>&euro; <span>/</span><span th:text="#{homepage.section2.room2.duration}"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <div class="sunhouse-item"><a href="/property-detail-3" class="wrapper-image"><img src="../../picture/room3/bedroom.jpg" alt="" class="img-responsive layout-1"/><img src="../../picture/room3/balcony.jpg" alt="" class="img-responsive layout-2"/></a>

                                                <div class="note for-rent"><p class="text" th:text="#{homepage.section2.for.rent}"></p></div>
                                                <div class="wrapper-content">
                                                    <div class="info-house">
                                                        <div class="info"><i class="icon-bed"></i>

                                                            <p th:text="#{homepage.section2.room3.number.of.bedrooms}"></p></div>
                                                        <div class="info"><i class="icon-bed"></i>

                                                            <p th:text="#{homepage.section2.room3.number.of.bed}"></p></div>
                                                        <div class="info"><i class="icon-bath"></i>

                                                            <p th:text="#{homepage.section2.room3.number.of.bathrooms}"></p></div>
                                                    </div>
                                                    <div class="about-house"><a href="/property-detail-3" class="title" th:text="#{homepage.section2.room3.title}"></a>

                                                        <!--<p class="text" th:text="#{homepage.section2.room3.subtitle}"></p>--></div>
                                                    <div class="more-info-house">
                                                        <div class="place-house"><i class="fa fa-map-marker"></i><a href="/property-detail-3" th:text="#{homepage.section2.room3.location}">120 2nd Ave, New handiee</a></div>
                                                        <div class="price"><strong th:text="#{homepage.section2.room3.price.min}"></strong>&euro; - <strong th:text="#{homepage.section2.room3.price.max}"></strong>&euro; <span>/</span><span th:text="#{homepage.section2.room3.duration}"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <div class="sunhouse-item"><a href="/property-detail-4" class="wrapper-image"><img src="../../picture/room4/bedroom.jpg" alt="" class="img-responsive layout-1"/><img src="../../picture/room4/balcony.jpg" alt="" class="img-responsive layout-2"/></a>

                                                <div class="note for-rent"><p class="text" th:text="#{homepage.section2.for.rent}"></p></div>
                                                <div class="wrapper-content">
                                                    <div class="info-house">
                                                        <div class="info"><i class="icon-bed"></i>

                                                            <p th:text="#{homepage.section2.room4.number.of.bedrooms}"></p></div>
                                                        <div class="info"><i class="icon-bed"></i>

                                                            <p th:text="#{homepage.section2.room4.number.of.bed}"></p></div>
                                                        <div class="info"><i class="icon-bath"></i>

                                                            <p th:text="#{homepage.section2.room4.number.of.bathrooms}"></p></div>
                                                    </div>
                                                    <div class="about-house"><a href="/property-detail-4" class="title" th:text="#{homepage.section2.room4.title}"></a>

                                                        <!--<p class="text" th:text="#{homepage.section2.room4.subtitle}"></p>--></div>
                                                    <div class="more-info-house">
                                                        <div class="place-house"><i class="fa fa-map-marker"></i><a href="/property-detail-4" th:text="#{homepage.section2.room4.location}">120 2nd Ave, New handiee</a></div>
                                                        <div class="price"><strong th:text="#{homepage.section2.room4.price.min}"></strong>&euro; - <strong th:text="#{homepage.section2.room4.price.max}"></strong>&euro; <span>/</span><span th:text="#{homepage.section2.room4.duration}"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <div class="sunhouse-item"><a href="/property-detail-5" class="wrapper-image"><img src="../../picture/room5/bedroom1.jpg" alt="" class="img-responsive layout-1"/><img src="../../picture/room5/garden1.jpg" alt="" class="img-responsive layout-2"/></a>

                                                <div class="note for-rent"><p class="text" th:text="#{homepage.section2.for.rent}"></p></div>
                                                <div class="wrapper-content">
                                                    <div class="info-house">
                                                        <div class="info"><i class="icon-bed"></i>

                                                            <p th:text="#{homepage.section2.room5.number.of.bedrooms}"></p></div>
                                                        <div class="info"><i class="icon-bed"></i>

                                                            <p th:text="#{homepage.section2.room5.number.of.bed}"></p></div>
                                                        <div class="info"><i class="icon-bath"></i>

                                                            <p th:text="#{homepage.section2.room5.number.of.bathrooms}"></p></div>
                                                    </div>
                                                    <div class="about-house"><a href="/property-detail-5" class="title" th:text="#{homepage.section2.room5.title}"></a>

                                                        <!--<p class="text" th:text="#{homepage.section2.room5.subtitle}"></p>--></div>
                                                    <div class="more-info-house">
                                                        <div class="place-house"><i class="fa fa-map-marker"></i><a href="/property-detail-5" th:text="#{homepage.section2.room5.location}">120 2nd Ave, New handiee</a></div>
                                                        <div class="price"><strong th:text="#{homepage.section2.room5.price.min}"></strong>&euro; - <strong th:text="#{homepage.section2.room5.price.max}"></strong>&euro; <span>/</span><span th:text="#{homepage.section2.room5.duration}"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section section-zindex">
                    <div class="banner-sale-off">
                        <div class="banner-sale-off-background">
                            <div class="background-gray"></div>
                            <div class="background-glass"><img src="../../picture/valtura-banner-test.png" alt="" class="img-responsive"/></div>
                            <div data-wow-delay="0.25s" data-wow-duration="0.8s" class="background-house wow fadeInUp"><img src="../../images/libs/background-house-1.png" alt="" class="img-responsive"/></div>
                        </div>
                        <div class="container">
                            <div data-parallax="{&quot;y&quot;:&quot;20%&quot;}" class="banner-sale-off-wrapper">
                                <div class="name-house" style="color: #2AACFF"><h2 style="color: #2AACFF" class="title" th:text="#{homepage.banner2.title}">House Marija - Valtura</h2>

                                    <p class="description" th:text="#{homepage.banner2.description}">Modern, innovation, beautiful</p></div>
                                <div class="price-house">
                                    <div class="price-for-house">
                                        <div class="price" style="text-align: left;"><sup>€</sup><span class="amount" th:text="#{homepage.banner2.price}">369</span>,<span class="small amount" th:text="#{homepage.banner2.price.decimal}">,999</span></div>
                                        <div class="sub-price" th:text="#{homepage.banner2.duration}">Per month</div>
                                    </div>
                                    <a href="property-detail-5" class="btn btn-transparent white" th:text="#{homepage.banner2.button}">detail</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <p>  </p>
                </div>
                <div class="section">
                    <div class="contact-us">
                        <div class="container">
                            <div data-parallax="{&quot;y&quot;:&quot;20%&quot;}" class="contact-us-scroll">
                                <div class="contact-us-wrapper" style="background-color: rgba(255,255,255,0.93);">
                                    <div class="contact-us-content"><h2 class="title"><a href="contact/" th:text="#{homepage.contact}"></a></h2>
                                        <div class="info-list">
                                            <ul class="list-unstyled">
                                                <li class="info-line"><i class="info-icon fa fa-map-marker"></i><a href="contact/" class="info-text" th:text="#{header.navbar.top.address}">1390 Somerset Drive, Raleigh, NC 27603</a></li>
                                                <li class="info-line"><i class="info-icon fa fa-phone"></i><a href="contact/" class="info-text" th:text="#{header.navbar.top.phone.number}">910-740-0626</a></li>
                                                <li class="info-line"><i class="info-icon fa fa-envelope-o"></i><a href="contact/" class="info-text" th:text="#{header.navbar.top.contact.mail}">domain@sunhouse.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUTTON BACK TO TOP-->
    <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
</div>
<!-- FOOTER-->
<footer>
</footer>
<!--.body-2.loading<div class="dots-loader"></div>--><!-- JAVASCRIPT LIBS-->
<script src="../../libs/jquery/jquery-2.1.4.min.js"></script>
<script src="../../libs/detect/browser.js"></script>
<script src="../../libs/moment/js/moment.min.js"></script>
<script src="../../libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>
<script src="../../libs/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="../../libs/smooth-scroll/jquery-smoothscroll.js"></script>
<script src="../../libs/owl-carousel-2.0/owl.carousel.min.js"></script>
<script src="../../libs/fancybox/js/jquery.fancybox.js"></script>
<script src="../../libs/fancybox/js/jquery.fancybox-buttons.js"></script>
<script src="../../libs/appear/jquery.appear.js"></script>
<script src="../../libs/count-to/jquery.countTo.js"></script>
<script src="../../libs/wow-js/wow.min.js"></script>
<script src="../../libs/selectbox/js/jquery.selectbox-0.2.min.js"></script>
<script src="../../libs/select2/select2.min.js"></script>
<script src="../../libs/range-slider/jquery.nstSlider.min.js"></script>
<script src="../../libs/parallax/jquery.data-parallax.min.js"></script>
<script src="../../libs/slick/slick.min.js"></script>
<!-- MAIN JS-->
<script src="../../js/main.js"></script>
<!-- LOADING SCRIPTS FOR PAGE--></body>
</html>